<<<<<<< HEAD
#section1{
    width: 100vw;
}

@media (width: 768px) {
    #section1{
        flex-direction: column-reverse;
    }
}
=======
@import url('https://fonts.googleapis.com/css2?family=Poppins');

body{
    font-family: poppins;
}

body::-webkit-scrollbar{
    display: none;
}
/* 

#register-btn{
    background-color: rgb(37, 99, 235);
} */
>>>>>>> 81f0fff (first commit)
