@import url('https://fonts.googleapis.com/css2?family=Poppins');

body{
    font-family: poppins;
}

body::-webkit-scrollbar{
    display: none;
}
/* 

#register-btn{
    background-color: rgb(37, 99, 235);
} */
