<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About-Us</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/style.css">
</head>
<body class="scroll-smooth">
    <h1 class="text-5xl p-20">About us</h1>
    <div class="w-screen h-fit flex flex-col gap-14 justify-center items-center pl-4 text-wrap md:mb-24">

        
        <div class="h-fit rounded-2xl shadow-xl w-3/4 text-white flex flex-col justify-center mb-5 p-28 bg-gradient-to-r from-blue-500 via-blue-700 to-violet-500 ..."><h2 class="text-4xl mb-6 pl-4">Welcome to LearnHub – Your Gateway to Seamless Learning!</h2>
        <p class="text-lg pl-10">At LearnHub, we are passionate about revolutionizing education by providing a dynamic and user-friendly learning management system. Our platform is designed to empower educators, inspire students, and foster a collaborative and engaging learning environment.</p></div>

        <div class="h-fit rounded-2xl shadow-xl w-3/4 text-white flex flex-col justify-center mb-5 p-28 bg-gradient-to-r from-blue-500 via-blue-700 to-violet-500 ..."><h2 class="text-4xl mb-6 pl-4">Mission Statement:</h2>
        <p class="text-lg pl-10">Our mission is to make learning accessible, enjoyable, and effective. We aim to connect educators and learners in a digital space that transcends boundaries, promotes inclusivity, and encourages the pursuit of knowledge.</p></div>

        <div class="h-fit rounded-2xl shadow-xl w-3/4 text-white flex flex-col justify-center mb-5 p-28 bg-gradient-to-r from-blue-500 via-blue-700 to-violet-500 ..."><h2 class="text-4xl mb-6 pl-4">What Sets LearnHub Apart:</h2>
        <p class="text-lg pl-10 py-8">
            <ol class="pl-6 text-lg">
                <li class="pl-8"><span class="font-medium">Intuitive Interface:</span> We believe in simplicity. Our user-friendly interface ensures that both educators and students can navigate the platform effortlessly.</li>
                <li class="pl-8"><span class="font-medium">Collaborative Learning:</span> LearnHub promotes collaboration by offering features like discussion forums, group projects, and real-time communication tools to enhance the learning experience.</li>
                <li class="pl-8"><span class="font-medium">Customization: </span> Tailor your learning experience. Educators can personalize courses, and students can choose learning paths that suit their individual needs and preferences.</li>
                <li class="pl-8"><span class="font-medium">Innovative Tools:</span> Stay ahead with cutting-edge tools for assessments, quizzes, and interactive assignments. LearnHub leverages technology to make learning not just effective but also enjoyable.</li>
            </ol>
        </p></div>

        <div class="h-fit rounded-2xl shadow-xl w-3/4 text-white flex flex-col justify-center mb-5 p-28 bg-gradient-to-r from-blue-500 via-blue-700 to-violet-500 ..."><h2 class="text-4xl mb-6 pl-4">Join the LearnHub Community:</h2>
        <p class="text-lg pl-10">Whether you are an educator passionate about shaping young minds or a learner eager to explore new horizons, LearnHub welcomes you. Join our community and be part of a journey where learning knows no bounds.</p></div> 
        <button class="bg-blue-600 text-white font-medium text-2xl p-4 px-9 mb-4 rounded shadow hover:opacity-75 hover:scale-110 ease-linear duration-200">Contact us</button>
    </div>
</body>
</html>